{% extends "ecommerce/base.html" %}

{% block title %} RembulanMall {% endblock title%}

{% block content %}
{% load humanize %}

    <div class="section">
          <div class="container">

    {% for c in categories %}
        <div class="row" style="margin-top: 40px;">
          <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body" >
                    <h1 style="padding: 0; margin:0;">{{ c.name }}</h1>
                </div>
            </div>
          </div>
        </div>

        <div class="row">

          {% for b in c.product_set.all %}
          <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">

                <img src="{{ b.picture.url }}" class="img-responsive" style="height: 150px;" />
                <h2 style="min-height:70px;max-height:70px;">{{ b.title }}</h2>
                <!--<p style="min-height: 100px;">{{ b.description }}</p>-->
                  <div class="row">
                      <div class="col-md-6">
                          <a class="btn btn-default btn-block" href="{% url 'add_to_cart' b.id b.slug %}">Add To Cart</a>
                      </div>
                      <div class="col-md-6">
                         <strong class="pull-right">Rp. {{ b.price | floatformat | intcomma }}</strong>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}

        </div>
    {% endfor %}

      </div>
    </div>
{% endblock content %}